body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-quicksand: Quicksand;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-xs: 12px;
}
